<!DOCTYPE html>
	<html>

		<head>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="w3-content" style="max-width: 700px">

				<div class="w3-bar w3-border-bottom">
				  {% include header.html %}
				</div>





<div class="w3-container w3-padding-32">
{{ content }}
</div>

			<footer class="w3-container w3-padding-32 w3-border-top">

			</footer>
			</div>
		</body>
	</html>
