<!DOCTYPE html>
	<html>

		<head>
			<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="w3-content" style="max-width: 700px">

				<div class="w3-bar w3-border-bottom">
				 {% include header.html %}
				</div>



	<div class="w3-row-padding w3-padding-32">
		<div class="w3-third w3-padding-top">
	<p>	Etsy - Shop on <a href="https://www.etsy.com/shop/witchglitchzines">www.etsy.com/shop/witchglitchzines</a></p>
		<p>		E-Mail: wwwitches(at)gmx.at<br></p>
		<p>		Twine Games on itch.io: <a href="https://witchglitch.itch.io/">witchglitch.itch.io</a></p>

</div>
<div class="w3-twothird">

<img src="images/banner.png" class="w3-padding" alt="Witch with a Glitch">

</div>
</div>
			<footer class="w3-container w3-padding-32 w3-border-top">

			</footer>
			</div>
		</body>
	</html>
